.img-border {
    border: 1px solid #ccc;
    padding: 12px;
    margin-top: 12px;
}

.btn-extract {
    margin-top: 10px;
    width: 100%;
}

.title {
    margin-top: 8px;
}

.custom-btn {
    width: 100%;
    margin-bottom: 5px;
}

#camera {
    width: 350px;
    height: 350px;
    border: 1px solid black;
}

